.user-preview{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  backface-visibility: hidden;
  -moz-transform: rotateY(0deg);

}
.user-preview__image{
  width: 140px;
  height:140px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: rem(25);
  display: flex;
  align-items: center;
  justify-content: center;
  }
.hero__image{
  margin-bottom: rem(25);
  width: 140px;
  height:140px;
  border-radius: 50%;
  background: url("../images/jpg/photo1.jpg");
  background-position: 50% 50%;
  overflow: hidden;

}
.user-preview__picture{

}
.user-preview__title{
  font: rem(28) Roboto-Medium;
  color: white;
  margin-top: rem(20);
}
.user-preview__text{
  font: rem(16) Roboto-Regular;
  color:rgba(255,255,255,.8);
  margin-top: rem(10);
  margin-bottom: rem(34);
}