extends ../template

block variables
    - var title = 'Блог'

block content
    div.wrapper
        section.hero#hero

                .parallax#parallax
                    .parallax__layer
                        img.parallax__image(src="assets/images/png/Layer 1.png")
                div.hero__top-line
                    include ../common/social
                    a.hamburger-menu#hamburger-menu(href="#")
                        div.hamburger-menu-bars
                div.hero__content
                        span.bg.bg_intro.bg_blog
                            svg.bg__image.bg__image_intro
                                use(xlink:href="assets/images/svg/sprite.svg#stars1")
                        div.hero__image
                        span.title.white Блог
                        span.main-text.white Статьи, которые я написал
                a.scroll.scroll__down
                    svg.scroll__image
                        use(xlink:href="assets/images/svg/sprite.svg#portf_arrow_down")
                svg.hero__bg.hero__bg_blog
                    use(xlink:href="assets/images/svg/sprite.svg#bg")
        section.blog

                 div.blog__content
                     main.blog__articles
                         ul.articles
                             li.article__item
                                 h2.sub-title Самое важное в SASS
                                 span.accent.main-text 22 ноября 2016
                                 p.main-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                                        | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.
                                        | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                 p.main-text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
                                        | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                                        | Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                        | С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                             li.article__item
                                     h2.sub-title Приёмы в вёрстке, без которых не обходится ни один сайт
                                     span.accent.main-text 13 ноября 2016
                                     p.main-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                                         | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.
                                         | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                     p.main-text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
                                         | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                                         | Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                         | С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                             li.article__item
                                 h2.sub-title Самый необходимый набор Gulp плагинов
                                 span.accent.main-text 7 ноября 2016
                                 p.main-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                                     | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.
                                     | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                 p.main-text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
                                     | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                                     | Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                     | С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям
                             li.article__item
                                 h2.sub-title Почему я выбрал Jade
                                 span.accent.main-text 4 ноября 2016
                                 p.main-text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития.
                                     | Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений.
                                     | Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                 p.main-text Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия.
                                     | Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
                                     | Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития.
                                     | С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям
                     aside.blog__nav#blogNav
                        ul.articles-list
                            li.articles-list__item.articles-list__item_active
                                span.articles__text Самое важное в SASS
                            li.articles-list__item
                                span.articles__text Приёмы в вёрстке, без которых не обходится ни один сайт
                            li.articles-list__item
                                span.articles__text Самый необходимый набор Gulp плагинов
                            li.articles-list__item
                                span.articles__text Почему я выбрал Jade

        footer.footer

                div.footer__column
                        span.main-text.white Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
                div.footer__column
                        nav.navigation#navigation
                            ul.navigation__list
                                li.navigation__item
                                    a.navigation__link(href="my-works.html")
                                        span.navigation__text Мои работы
                                li.navigation__item
                                    a.navigation__link(href="about.html")
                                        span.navigation__text Обо мне
                                li.navigation__item
                                    a.navigation__link.navigation__link_current(href="blog.html")
                                        span.navigation__text Блог
                                li.navigation__item
                                    a.navigation__link(href="index.html")
                                        span.navigation__text Авторизация
                        ul.social
                            li.social__item
                                a.social__link(href="#")
                                    svg.social__image.social__image_grey.social__image_mobile
                                        use(xlink:href="assets/images/svg/sprite.svg#vk")
                            li.social__item
                                a.social__link(href="#")
                                    svg.social__image.social__image_grey.social__image_mobile
                                        use(xlink:href="assets/images/svg/sprite.svg#github")
                            li.social__item
                                a.social__link(href="#")
                                    svg.social__image.social__image_grey.social__image_mobile
                                        use(xlink:href="assets/images/svg/sprite.svg#in")

                div.footer__column
                        span.main-text.white Skype: +79060761095
                        span.main-text.white pisarev_dmitry@mail.ru
                        span.main-text.white +7 906 076 10 95
                        span.main-text.white г.Москва Новочеркасский б-р, д46
                div.footer__signature
                    include ../common/signature
