.svg-about_bg_left-dims {
	width: 900.006px;
	height: 1013.986px;
}

.svg-about_bg_right-dims {
	width: 900.331px;
	height: 1009.986px;
}

.svg-about_header-dims {
	width: 498.161px;
	height: 175.44px;
}

.svg-arrow_down-dims {
	width: 25.18px;
	height: 16.164px;
}

.svg-bg-dims {
	width: 2000px;
	height: 354.69px;
}

.svg-blog_header-dims {
	width: 302.193px;
	height: 208.012px;
}

.svg-check-dims {
	width: 18.164px;
	height: 13.922px;
}

.svg-envelope-dims {
	width: 22.012px;
	height: 17.295px;
}

.svg-envelope2-dims {
	width: 23px;
	height: 16.391px;
}

.svg-envelope_n-dims {
	width: 45px;
	height: 45px;
}

.svg-github-dims {
	width: 26px;
	height: 22px;
}

.svg-github_round-dims {
	width: 50px;
	height: 50px;
}

.svg-hamburger-dims {
	width: 40px;
	height: 35px;
}

.svg-in-dims {
	width: 24px;
	height: 22.938px;
}

.svg-in_round-dims {
	width: 50px;
	height: 50px;
}

.svg-link-dims {
	width: 19.125px;
	height: 19.125px;
}

.svg-login-dims {
	width: 14.137px;
	height: 15.422px;
}

.svg-map_marker-dims {
	width: 15.151px;
	height: 21.654px;
}

.svg-map_n-dims {
	width: 45px;
	height: 45px;
}

.svg-password-dims {
	width: 16.897px;
	height: 15.984px;
}

.svg-phone-dims {
	width: 18.864px;
	height: 18.863px;
}

.svg-phone2-dims {
	width: 16.492px;
	height: 20.947px;
}

.svg-phone_n-dims {
	width: 45px;
	height: 45px;
}

.svg-portf_arrow_down-dims {
	width: 42.736px;
	height: 27.435px;
}

.svg-portf_arrow_up-dims {
	width: 42.736px;
	height: 27.435px;
}

.svg-portfolio_header-dims {
	width: 1175.495px;
	height: 313.961px;
}

.svg-skype-dims {
	width: 24px;
	height: 24px;
}

.svg-skype_n-dims {
	width: 600px;
	height: 600px;
}

.svg-stars1-dims {
	width: 186.861px;
	height: 110.966px;
}

.svg-stars2-dims {
	width: 171.5px;
	height: 132.5px;
}

.svg-stars3-dims {
	width: 103.03px;
	height: 124.03px;
}

.svg-telegram_logo-dims {
	width: 238.892px;
	height: 238.892px;
}

.svg-vk-dims {
	width: 30.011px;
	height: 17.123px;
}

.svg-vk_round-dims {
	width: 50px;
	height: 50px;
}

.svg-works_header-dims {
	width: 505.101px;
	height: 165.036px;
}

